APR 
  <form action="/payment/results">
    <input id="user_APR" type="text" name"APR" placeholder="E.g. 5.42">
  </form>
Number of years
  <form action="/payment/results">
    <input id="user_year" type="text" name"years" placeholder="How many years to repay?">
  </form>
Principal
  <form action="/payment/results">
    <input id="user_principal" type="text" name"principal" placeholder="How much principal?">
  </form>
<button>Calculate monthly payment</button>
