
<form action="/square/results">
  <label for="use_number">Enter a number</label>
    <input id="use_number" type="text" name="number" placeholder="What number do you want to take the square off">
  <div>
    <button>Calculate square</button>
  </div>
</form>


